* {
  box-sizing: border-box;
}

body {
  color: blue;
  font-family: Roboto, "Noto Sans KR", sans-serif;
  font-size: 16px;
}

a {
  color: #4e4e4e;
}

input {
  border-radius: 6px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  padding: 11px 15px;
}

input::placeholder {
  color: #ababab;
}

button {
  background-color: blue;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  text-align: center;
}

#register-form {
  margin: 140px auto;
  width: 350px;
}

.register-title {
  font-size: 30px;
  text-align: center;
}

#register-form label {
  display: block;
  margin: 24px 0 8px;
}

#register-form input {
  display: block;
  margin: 8px 0;
  width: 100%;
}

#register-form button {
  display: block;
  margin: 24px 0;
  width: 100%;
}

.invalid {
  color: #da382b;
}

.invalid > input {
  border-color: #da382b;
  color: #da382b;
}

.error-message {
  display: none;
  font-size: 12px;
  text-align: right;
}

.invalid .error-message {
  display: block;
}

.login-message {
  color: #ababab;
  margin: 24px 0;
  text-align: center;
}
